# Entorno virtual
venv_tfm_enagas/
__pycache__/
*.pyc
00. Datos aportados por Enagás/
data/
venv_tfm_enagas/
*.csv
*.xlsx
*.db
*.sqlite
.ipynb_checkpoints/

# Datos (GitHub no acepta archivos >100MB)
data/raw/
# Si tus procesados son pequeños (<50MB) puedes quitarlos de aquí
data/processed/ 

# Notebooks checkpoints
.ipynb_checkpoints/